<!DOCTYPE html>
<html>
    <head>
        <title>Test for {{ now | formatTime "3:04 PM" }}</title>
    </head>
    <body>
        Build date: {{ now | formatTime "1/2/2006 3:04:05 PM" }}<br />
        Parse time: {{ with $time := now | formatTime "2006-01-02T15:04:05-07:00" }}{{ parseTime $time | formatTime "January 2, 2006 at 3:04:05 PM" }}{{ end }}<br />
        Go environment: {{ .GoEnv.Ver }}, {{ .GoEnv.OS }} {{ .GoEnv.Arch }}<br />
        Hostname: {{ .Hostname }}
        <hr />
        Get JSON: {{ with $js := getJSON "testdata/test.json" }}{{ index $js "foo" }}{{ end }}<br />
        Put it back: {{ with $js := getJSON "testdata/test.json" }}{{ jsonify $js | safeHTML }}{{ end }}
    </body>
</html>
